<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find fuzzy_control)/urdf/robot.xacro'"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
      args="-param robot_description -urdf -model diff_robot -z 0.2" />
</launch>
